.background-image{
    background-image: url(img5.jpeg);
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment:scroll;
    width: 900px;
    height: 100px;


}
.h1{
    border: 50%;
    text-align: center;
    margin-top:2%;
    padding-left: 35%; 
}
}